body {
	font-family: 'Lucida Grande', 'Open-Sans', sans-serif;
	line-height: 1.6;
}

/*
BEM
*/
.conteudo {
	background-color: #ccc;
	padding: 20px;
}

.rodape {
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
}

/*
Block
*/

.portfolio {
	font-size: 32px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.portfolio::after {
	content: "";
	display: block;
	clear: both;
}

.usuarios {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}


.usuarios  > li {
	display: inline-block;
	text-decoration: none;
}

.usuarios  > li > a {
	color: green;
}

/*
Element
*/
.portfolio__curso {
	width: 300px;
	height: 300px;
	background-color: red;
	margin-bottom: 20px;
	float: left;
	margin-right: 30px;
	text-align: center;
}

.portfolio__curso a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding-top: 20px;
}




/*
Modifier
*/

.portfolio--mais-vendido .portfolio_curso {
	background-color: green;
}

.portfolio__curso--novo::after {
	content: "Novo";
	display: block;
	font-size: 20px;
	margin: 0 20%;
	margin-top: 30px;
	background-color: yellow;
}
.usuarios__nome--novo::after {
	content: "(Novo)";
}